@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/InterTight-Variable.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-Variable.woff2") format("woff2");
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Inter Tight", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
